body {
  color: whitesmoke;
}

body {
  background-image: url("images/istockphoto-1141432277-170667a.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "system-ui";
}

.header-row {
  padding-top: 100px;
  padding-bottom: 50px;
}

.r1 {
  background-color: rgba(0, 0, 0, 0.6);
}

.link-row {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.6);
}

.link {
  color: rgba(195, 7, 63, 1);
  text-decoration: none;
}

.link h3 {
  font-size: 40px;
}

.link:hover {
  color: rgba(111, 34, 50, 1);
}

p {
  font-size: 20px !important;
}

.display-1 {
  font-family: "Bangers";
  font-size: 80px !important;
}

/*********** Navbar Styles ***********/
.navbar-brand {
  font-family: "system-ui";
  font-size: 50px;
  padding: 20px;
}

.nav {
  font-size: 35px;
}

.nav-item {
  padding: 30px;
  color: white;
}

.nav-item:hover,
.navbar-brand:hover {
  color: rgba(195, 7, 63, 1) !important;
}


/* body {
  padding-top: 5rem;
}

h1 {
  color: #fff;
}

h2 {
  color: #eee;
  text-align: center;
}

h3 {
  color: #ddd;
}

h4 {
  color: #ccc;
}

h5 {
  color: #bbb;
}

h6 {
  color: #aaa;
}

p {
  color: #fff;
  font-size: 20px;
}

#dropdownStyle {
  display:block;
  border-color: lawngreen;
} */