body {
    padding-top: 5rem;
}
  
h1 {
color: #fff;
}

h2 {
color: #eee;
text-align: center;
font-size: 22px;
margin-top: 15px;
}

h3 {
color: #ddd;
}

h4 {
color: #fff;
font-size: 19px;
}

h5 {
color: #bbb;
}

h6 {
color: #aaa;
}

p {
color: #fff;
font-size: 20px;
}

#dropdownStyle {
display:block;
border-width: 3px;
border-color: lawngreen;
}

#inputMenu {
    margin-top: 20px;
}

#inputContainer {
    margin-top: 20px;
}

input {
    margin-bottom: 5px;
}