{% extends "base.html" %} {% set active_page = "About" %} {% block content %}
<link rel="stylesheet" href="{{url_for('static', filename='css/about.css')}}" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
<script src="https://kit.fontawesome.com/8502dc2626.js" crossorigin="anonymous"></script>
<link rel="stylesheet"
  href="https://fonts.googleapis.com/css?family=Sofia|Urbanist|Bangers|Patrick+Hand&display=swap" />

<!-- Contributors -->
<div class="container">
  <h2>Contributors</h2>
  <hr />
  <div class="team-area sp">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-3 single-team">
          <div class="inner">
            <div class="team-img">
              <img src="https://github.com/jackatopolis/s-martpredictor/blob/main/images/jack.jpg" alt="Jack Cohen Photo" />
            </div>
            <div class="team-content">
              <h4>Jack Cohen</h4>
              <h5>Data Analyst</h5>
              <div class="team-social">
                <a href="https://github.com/jackatopolis" class="fa fa-github"></a>
                <a href="https://www.linkedin.com/in/jack-cohen-6b573213a/" class="fa fa-linkedin"></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 single-team">
          <div class="inner">
            <div class="team-img">
              <img src="../images/john.png" alt="John Clos Photo" />
            </div>
            <div class="team-content">
              <h4>John Clos</h4>
              <h5>Data Analyst</h5>
              <div class="team-social">
                <a href="https://github.com/johnclos" class="fa fa-github"></a>
                <a href="https://www.linkedin.com/in/john-clos-7a41671/" class="fa fa-linkedin"></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 single-team">
          <div class="inner">
            <div class="team-img">
              <img src="../images/uchenna.jpg" alt="Uchenna Nwagbara Photo" />
            </div>
            <div class="team-content">
              <h4>Uchenna Nwagbara</h4>
              <h5>Data Analyst</h5>
              <div class="team-social">
                <a href="https://github.com/uchenna23" class="fa fa-github"></a>
                <a href="https://www.linkedin.com/in/uchenna-nwagbara-83b613172/" class="fa fa-linkedin"></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 single-team">
          <div class="inner">
            <div class="team-img">
              <img src="../images/sharon.jpg" alt="Sharon Colson Photo" />
            </div>
            <div class="team-content">
              <h4>Sharon Colson</h4>
              <h5>Data Analyst</h5>
              <div class="team-social">
                <a href="https://github.com/SColson82" class="fa fa-github"></a>
                <a href="https://www.linkedin.com/in/sharon-colson/" class="fa fa-linkedin"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="{{url_for('static', filename='js/about.js')}}"></script>
{% endblock %}